<%# REQ: post, comment %>

<li id="<%= 'comment_' + comment.id %>">
  <p><%= comment.updated_at %></p>
  <article><%- comment.content %></article>
  <form
    action="<%= `/posts/${post.id}/comments/${comment.id}` %>"
    name="<%= `comment_delete_${comment.id}` %>"
    method="post"
    >
    <a
      href="<%= `javascript:comment_delete_${comment.id}.submit()` %>"
      class="delete"
      >削除する</a>
  </form>
</li>
