<div class="post__list">
  <h1><i class="fa-solid fa-magnifying-glass"></i></h1>
  <h2>ヒット数 - <%= total_count %></h2>
  <div class="posts">
    <% items.forEach(post => { %>
      <div id=<%= 'post_' + post.id %>>
        <h2>
          <a href=<%= '/posts/' + post.id %>>
            <%= post.title %>
          </a>
        </h2>
        <p>作成時：<%= post.created_at %></p>
      </div>
    <% }) %>
  </div>
  <%- include('../modules/pager.ejs', { total_count: total_count }) %>
</div>
