<div class="post__list">
  <h1><i class="fa-regular fa-newspaper"></i> List</h1>
  <p>Post: <%= post_count %></p>
  <div class="posts">
    <% posts.forEach(post => { %>
      <div id=<%= 'post_' + post.id %>>
        <h2>
          <a href=<%= '/posts/' + post.id %>>
            <%= post.title %>
          </a>
        </h2>
        <p>作成時：<%= post.created_at %></p>
      </div>
    <% }) %>
  </div>
  <%- include('../modules/pager.ejs', { total_count: post_count }) %>
</div>
