<div class="post__form">
  <h1><i class="fa-regular fa-newspaper"></i></h1>
  <% if (typeof errors !== 'undefined') { %>
    <%- include('./error', { errors: errors }) %>
  <% } %>
  <form action=<%= `/posts/${post.id}/update` %> method="post">
    <input type="hidden" name="post[id]" value=<%= post.id %>>
    <ul>
      <li>
        <input
          type="text"
          name="post[title]"
          id="post_title"
          class=""
          placeholder="&#xf1dc タイトル"
          value=<%= post.title %>
        >
      </li>
      <li>
        <textarea
          name="post[content]"
          id="post_content"
          class=""
          placeholder="&#xf15c 内容"
          ><%= post.content %></textarea>
      </li>
      <li>
        <input
          type="submit"
          class="post__form__submit-update"
          value="&#xf01e 更新"
          >
      </li>
    </ul>
  </form>
</div>
